.vagrant/
.kitchen/
.kitchen.local.yml
.kitchen.local.yml.bak
kitchen.local.yml
.ruby-version
.rbenv-gemsets
.bundle/
vendor/
Gemfile.lock
*.swp
*.retry
*.log
.DS_Store
.idea/
.vscode/
*.iml
.direnv/
collections/
.ansible/
.vagrant.d/
boxes/
__pycache__/
scratch/
tests/roles/
